@import 'scss/plugins/reset';
@import 'scss/global/variables';
@import 'scss/pages/landing.scss';
@import 'scss/pages/contact.scss';
@import 'scss/pages/portfolio.scss';

* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
}

body {
  width: 100%;
  color: black;
  font-family: 'Roboto', sans-serif, Arial;
  background: $bodyBackground;
}
