.contact {
  height: 62px;
  background-image: none;
  .menu-row {
    background-color: $magenta;
    @media screen and (min-width: 426px) {
      height: 67px;
    }
    @media screen and (min-width: 769px) {
      height: 95px;
    }
  }

  &::after {
    display: none;
  }
}
.contact-head {
  h4 {
    font-size: 42px;
    font-weight: 500;
    margin: 75px 0;
    text-align: center;
    padding-bottom: 50px;
    color: $greyColor;
    @media screen and (min-width: 426px) {
      font-size: 48px;
    }
    @media screen and (min-width: 769px) {
      margin: 103px 0;
      font-size: 53px;
    }
  }
}
.contact-container {
  justify-content: center;
  display: flex;
  max-width: 750px;
  margin: auto;

  .wrapper-contact {
    padding: 0 12px;
    p {
      color: $lightGrey;
      font-size: 18;
      font-weight: 300;
      text-align: center;
      line-height: 21px;
      margin-bottom: 30px;
      margin-top: 50px;
      @media screen and (min-width: 426px) {
        margin-top: 60px;
      }
      @media screen and (min-width: 769px) {
        margin-top: 90px;
      }
    }
    form {
      display: flex;
      flex-direction: column;
      align-items: center;

      .input-text {
        width: 100%;
        @media screen and (min-width: 769px) {
          display: flex;
        }
      }
      input {
        width: 100%;
        font-family: 'Roboto', sans-serif, Arial;
        border: 1px solid $linecolor;
        border-top-style: hidden;
        border-right-style: hidden;
        border-left-style: hidden;
        outline: none;
      }

      input[type='text'] {
        font-size: 14px;
        line-height: 16px;
        color: $lightGrey;
        height: 38px;
        @media screen and (min-width: 769px) {
          margin: 0 12px 0 0
        }
      }
      input[type='email'] {
        width: 100%;
        font-size: 14px;
        color: $lightGrey;
        line-height: 16px;
        height: 38px;
        font-family: 'Roboto', sans-serif, Arial;
      }
      textarea {
        margin-top: 30px;
        width: 100%;
        font-family: 'Roboto', sans-serif, Arial;
        color: $lightGrey;
        font-size: 14px;
        min-height: 92px;
        border: none;
        outline: none;
        border: 1px solid $linecolor;
        border-top-style: hidden;
        border-right-style: hidden;
        border-left-style: hidden;
        line-height: 13px;
        resize: none;
      }
      button {
        color: white;
        font-size: 12px;
        font-weight: 400;
        width: 150px;
        height: 40px;
        background-color: #9c27b0;
        text-transform: uppercase;
        cursor: pointer;
        border-radius: 5px;
        border: none;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.251));
        cursor: pointer;
        display: block;
        margin-top: 40px;
        margin-bottom: 50px;
        @media screen and (min-width: 426px) {
          margin-bottom: 60px;
        }
        @media screen and (min-width: 769px) {
          margin-top: 30px;
          margin-bottom: 90px;
        }
      }
      button:hover{
        transform: scale(1.1);
      }
    }
  }
}
