//menu

header {
  background-image: url('template/images/header-image.jpg');
  height: 660px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-width: 350px;

  .menu-row {
    display: flex;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.4);
    height: 62px;
    align-items: center;
  }

  a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    margin: 20px 35px;
  }

  nav {
    a {
      display: none;
    }
  }

  .logo-bars {
    background-image: url('template/images/bars.svg');
    width: 20px;
    height: 25px;
    background-size: cover;
    margin: 20px 35px;
    z-index: 1;
    display: block;
    cursor: pointer;
  }

  &::after {
    content: '';
    display: block;
    background-color: (black);
    z-index: 0;
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 660px;
    opacity: 0.4;
    min-width: 350px;
  }
  .intro-header {
    .wrapper {
      position: relative;
      width: 100%;
      z-index: 1;
      text-align: center;
      margin-top: 100px;
      padding: 25px;
      height: 288px;

      h1 {
        font-weight: 500;
        font-size: 42px;
        color: white;
        line-height: 55px;
      }
      p {
        color: white;
        font-size: 16px;
        line-height: 21px;
        font-weight: 400;
      }
      //button
      button {
        background-color: $headerBtnColor;
        width: 170px;
        height: 55px;
        border-radius: 5px;
        border: none;
        margin-top: 40px;
        cursor: pointer;
      }
      a::before {
        content: '';
        display: inline-flex;
        background-image: url('template/images/grip-horizontal.svg');
        background-size: 14px 18px;
        width: 14px;
        height: 14px;
        margin-right: 5px;
      }
      a {
        color: white;
        font-size: 14px;
        font-weight: 400;
        text-transform: uppercase;
        margin: 0;
       
      }
    }
  }
}
//text-block
main {
  .container {
    background-color: white;
    margin: 0 24px;
    border-radius: 5px;
    filter: drop-shadow(0px 8px 24px rgba(0, 0, 0, 0.141));
    top: 600px;
    position: absolute;
  }
  .text-block {
    text-align: center;
    margin-top: 50px;

    h4 {
      font-weight: 400;
      color: $greyColor;
      font-size: 24px;
      padding: 0 40px;
      line-height: 28px;
    }
    p {
      color: $lightGrey;
      font-weight: 300;
      font-size: 16px;
      line-height: 18px;
      padding-top: 20px;
      margin: 0 10px;
    }
  }
}

// What I have learn?
.par-name {
 color: $greyColor;
 font-size: 24px;
 text-align: center;
 line-height: 18px;
 padding: 0px 98px;
 margin-top: 50px;
 margin-bottom: 20px;
}

.paragraph {
  
  .options{
    padding:0 12px;
    text-align: center;
    height: 200px;
    font-weight: 400;

   .par-logo{
      background-color: hotpink;
      width: 50px;
      height: 70px;
      margin-bottom: 30px;
      display: inline-flex;
     align-items: center;
     justify-content: center;
    }
    .par-head{
       h4{
        color: $greyColor;
        font-weight: 500;
        font-size: 20px;
        margin-bottom: 18px;
      }
      p{
        color:$lightGrey;
        font-weight: 300;
        font-size: 14px;
      }
    } 
    }
  }


