//menu
header{
  background-image: url('template/images/header-image.jpg');
  height: 660px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-width: 350px;
  @media screen and (min-width: 426px) {
    height: 600px;
  }
  @media screen and (min-width: 769px) {
    height: 700px;
  }

  .menu-row {
    display: flex;
    background-color: rgba(0, 0, 0, 0.4);
    height: 62px;
    align-items: center;
    padding: 0 35px;
    @media screen and (min-width: 769px) {
      padding:0 160px;
      background: none;
    }
    .name {
      font-size: 18px;
      z-index: 1;
      a {
        text-decoration: none;
        font-size: 18px;
        color: white;
        font-weight: 300;
        z-index: 1;
      }  
    }

    .menu {
      margin-left: auto;
     

      nav {
        width: 100%;
        z-index: 1;
        position: relative;
      text-transform: uppercase;
      a{
        text-decoration: none;
      }
     ul{
       display: flex;
       align-items: baseline;
       li{
         color: white;
         margin: 10px;
         font-size: 12px;
         font-weight: 400;

         @media screen and (max-width: 426px) {
          display: none;
         
         
        }
       i{
         font-size: 16px;
         font-weight: 400;
        }
       }
      }
    }
      .logo-bars {
        color: white;
        font-size: 22px;
        z-index: 1;
        position: relative;
        cursor: pointer;
        @media screen and (min-width: 426px) {
          display: none;
        }
      }
    
  }
  }
  &::after {
    content: '';
    display: block;
    background-color: (black);
    z-index: 0;
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 660px;
    opacity: 0.4;
    min-width: 350px;
    @media screen and (min-width: 426px) {
      height: 600px;
    }
    @media screen and (min-width: 769px) {
      height: 700px;
    }
  }
  .intro-header {
    .wrapper {
      position: relative;
      width: 100%;
      z-index: 1;
      text-align: center;
      margin-top: 100px;
      padding: 25px;
      height: 288px;
      @media screen and (min-width: 426px) {
        text-align: left;
        @media screen and (min-width: 769px) {
          padding-left: 150px;
        }
      }
      h1 {
        font-weight: 500;
        font-size: 42px;
        color: white;
        line-height: 55px;
        @media screen and (min-width: 426px) {
          font-size: 48px;
        }
        @media screen and (min-width: 769px) {
          font-size: 53px;
        }
      }
      p {
        color: white;
        font-size: 16px;
        line-height: 21px;
        font-weight: 400;
        @media screen and (min-width: 426px) {
          font-size: 17px;
        }
        @media screen and (min-width: 769px) {
          font-size: 17px;
        }
      }
      //button

      .btn {
        margin-top: 40px;

        a::before {
          content: '';
          display: inline-block;
          background-image: url('template/images/grip-horizontal.svg');
          background-size: 14px 18px;
          width: 14px;
          height: 14px;
          margin-right: 5px;
        }
        a {
          background-color: $headerBtnColor;
          display: inline-block;
          border-radius: 5px;
          border: none;
          cursor: pointer;
          text-decoration: none;
          color: white;
          font-size: 14px;
          font-weight: 400;
          text-transform: uppercase;
          padding: 17px 37px;
        }
      }
    }
  }
}
//text-block
main {
  .container {
    background-color: white;
    margin: 0 25px;
    border-radius: 5px;
    filter: drop-shadow(0px 8px 24px rgba(0, 0, 0, 0.141));
    min-width: 300px;
    top: 600px;
    margin-top: -84px;
   
    @media screen and (min-width: 769px) {
      margin-left: 60px;
      margin-right: 60px;
    }
    .text-block {
      text-align: center;
      padding: 50px 0;
      @media screen and (min-width: 426px) {
        padding: 60px 0;
      }
      @media screen and (min-width: 769px) {
        padding: 140px 0;
      }
      h4 {
        font-weight: 400;
        color: $greyColor;
        font-size: 24px;
        line-height: 28px;
        padding-bottom: 20px;
        @media screen and (min-width: 426px) {
          font-size: 28px;
          padding-bottom: 30px;
        }
        @media screen and (min-width: 769px) {
          font-size: 36px;
        }
      }
      p {
        color: $lightGrey;
        font-weight: 300;
        font-size: 16px;
        line-height: 18px;
        margin: 0 12px;
      }
    }

    // What I have learn?
    .par-name {
      color: $greyColor;
      font-size: 24px;
      text-align: center;
      line-height: 18px;
      margin-bottom: 20px;
      h4 {
      }
      @media screen and (min-width: 426px) {
        font-size: 28px;
      }
      @media screen and (min-width: 769px) {
        font-size: 36px;
      }
    }

    .paragraph {
      @media screen and (min-width: 769px) {
        display: flex;
        padding: 0 99px;
        padding-top: 40px;
      }
      .options {
        padding: 0 12px;
        text-align: center;
        font-weight: 400;
        @media screen and (min-width: 426px) {
          padding-top: 30px;
        }
        @media screen and (min-width: 769px) {
          padding-top: 40px;
          padding: 0 0;
        }

        .par-logo {
          background-image: url(template/images/html.svg);
          width: 50px;
          height: 70px;
          display: inline-flex;
          align-items: center;
          justify-content: center;
        }
        .par-head {
          margin: 20px 0;
          h5 {
            color: $greyColor;
            font-size: 20px;
            font-weight: 500;
          }
          p {
            padding-top: 20px;
            color: $lightGrey;
            font-size: 14px;
            font-weight: 300;
          }
        }
        .par-logo1 {
          background-image: url(template/images/css.svg);
          width: 50px;
          height: 70px;
          display: inline-flex;
          align-items: center;
          justify-content: center;
        }
        .par-logo2 {
          background-image: url(template/images/js.svg);
          width: 50px;
          height: 70px;
          display: inline-flex;
          align-items: center;
          justify-content: center;
        }
        .par-head {
          h4 {
            color: $greyColor;
            font-weight: 500;
            font-size: 20px;
            margin-bottom: 18px;
          }
          p {
            color: $lightGrey;
            font-weight: 300;
            font-size: 14px;
            line-height: 16px;
          }
        }
      }
    }
    //my-job list
    .job-container {
      margin: 50px 0;
      @media screen and (min-width: 426px) {
        margin: 60px 0;
      }
      @media screen and (min-width: 769px) {
        margin: 90px 0;
      }
      .my-jobs {
        color: $greyColor;
        font-size: 24px;
        font-weight: 400;
        line-height: 28px;
        text-align: center;
        margin-bottom: 20px;
        @media screen and (min-width: 426px) {
          font-size: 28px;
          margin-bottom: 30px;
        }
        @media screen and (min-width: 769px) {
          font-size: 36px;
          margin-bottom: 40px;
        }
      }
      .row {
        @media screen and (min-width: 426px) {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-around;
        }
        @media screen and (min-width: 769px) {
          justify-content: center;
        }

        .job-block {
          display: flex;
          justify-content: center;
          overflow: hidden;
          @media screen and (min-width: 769px) {
            padding: 0px 6px;
          }
          .job {
            overflow: hidden;
            .bcgpicture {
              background-image: url(template/images/job-picture.jpg);
              width: 364px;
              height: 200px;
              background-size: contain;
              background-repeat: no-repeat;
            }

            .job-name {
              color: $greyColor;
              padding-top: 10px;
              padding-bottom: 20px;
            }
          }
        }
      }
    }

    //contacts
    .contact-me {
      h4 {
        color: $greyColor;
        font-size: 24px;
        font-weight: 400;
        text-align: center;
        line-height: 28px;
        @media screen and (min-width: 426px) {
          font-size: 28px;
        }
        @media screen and (min-width: 769px) {
          font-size: 36px;
        }
      }
      .icon-bar {
        text-align: center;
        margin: 35px 0;
        a {
          text-decoration: none;
          .fab {
            color: $greyColor;
            font-size: 65px;
            @media screen and (min-width: 426px){
              font-size: 80px;
            }
          }
        }
      }
    }
    .btn-contact {
      display: flex;
      justify-content: center;
      align-items: center;

      a {
        text-decoration: none;
      }
      button {
        color: white;
        font-size: 12px;
        font-weight: 400;
        width: 150px;
        height: 40px;
        background-color: #9c27b0;
        text-transform: uppercase;
        cursor: pointer;
        border-radius: 5px;
        border: none;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.251));
        margin-bottom: 50px;
        @media screen and (min-width: 426px) {
          margin-bottom: 60px;
        }
        @media screen and (min-width: 769px) {
          margin-bottom: 90px;
        }
      }
    }
  }
}

//footer
footer {
  margin-top: 30px;
  .footer-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    @media screen and (min-width: 426px) {
      flex-direction: row;
      justify-content: space-around;
    }
  }

  ul {
    display: flex;
    li {
    }
    a {
      text-decoration: none;
      color: $greyColor;
      text-transform: uppercase;
      font-size: 12px;
      font-weight: 500;
      line-height: 14px;
      padding: 15px;
    }
  }
  }
.footertext {
  padding-top: 20px;
  padding-bottom: 30px;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  color: $greyColor;
}

